Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.10.0
Flask-Limiter==3.7.0
WTForms==3.1.2
psycopg2-binary==2.9.9
gunicorn==22.0.0
python-dotenv==1.0.1
Pillow==10.4.0
soundfile==0.12.1
numpy==1.26.4
reportlab==4.2.2
openpyxl==3.1.5
python-dateutil==2.9.0.post0
sqlalchemy==2.0.31
alembic==1.13.2
Werkzeug==3.0.3
itsdangerous==2.2.0
click==8.1.7
